.container_calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: black;
    padding: 10px;
}

.display {
    display: flex;
    height: 100px;
    width: 400px;
    border: 1px solid grey;
    background-color: lightgray;
    margin-bottom: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.display_text {
    font-size: 50px;
    margin-right: 10px;
}

.row_buttons {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    height: 80px;
    margin-bottom: 10px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightgray;
}

button#zero {
    flex: 2;
}

button.operator {
    background-color: orange;
    color: white;
}

button.equate {
    background-color: orange;
    color: white;
}

button.number {
    background-color: rgba(169, 169, 169, 0.465);
    color: white;
}