.display {
    display: flex;
    height: 100px;
    width: 400px;
    border: 1px solid grey;
    background-color: lightgrey;
    margin-bottom: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.display_text {
    font-size: 50px;
    margin-right: 10px;
}

.row_buttons {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    height: 80px;
    margin-bottom: 10px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid darkgray;
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

button#zero {
    flex: 2;
}